csharp/*
java/.idea/compiler.xml
java/.idea/encodings.xml
java/.idea/jarRepositories.xml
java/.idea/misc.xml
java/src/main/java/my/health/generated/FuncTestingThisIsMyNamespaceAPI.java
java/src/main/java/my/health/generated/FuncTestingThisIsMyNamespaceAPIBuilder.java
java/src/main/java/my/health/generated/package-info.java
java/src/main/java/my/health/generated/models/HealthStatus.java
java/src/main/java/my/health/generated/models/package-info.java
java/target/classes/my/health/generated/FuncTestingThisIsMyNamespaceAPI.class
java/target/classes/my/health/generated/FuncTestingThisIsMyNamespaceAPI$FuncTestingThisIsMyNamespaceAPIService.class
java/target/classes/my/health/generated/FuncTestingThisIsMyNamespaceAPIBuilder.class
java/target/classes/my/health/generated/models/HealthStatus.class
java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
testme/.idea/compiler.xml
testme/.idea/encodings.xml
testme/.idea/jarRepositories.xml
testme/.idea/misc.xml
testme/.idea/uiDesigner.xml
testme/target/classes/my/health/test/App.class
testme/target/classes/my/health/test/generated/FuncTestingThisIsMyNamespaceAPI.class
testme/target/classes/my/health/test/generated/FuncTestingThisIsMyNamespaceAPI$FuncTestingThisIsMyNamespaceAPIService.class
testme/target/classes/my/health/test/generated/FuncTestingThisIsMyNamespaceAPIBuilder.class
testme/target/classes/my/health/test/generated/models/HealthStatus.class
testme/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
testme/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
testme/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
testme/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
testme/target/surefire-reports/my.health.test.AppTest.txt
testme/target/surefire-reports/TEST-my.health.test.AppTest.xml
testme/target/test-classes/my/health/test/AppTest.class
testme/target/test-classes/my/health/test/TestMyHealth.class
testme/src/main/java/my/health/test/generated/FuncTestingThisIsMyNamespaceAPI.java
testme/src/main/java/my/health/test/generated/FuncTestingThisIsMyNamespaceAPIBuilder.java
testme/src/main/java/my/health/test/generated/package-info.java
testme/src/main/java/my/health/test/generated/models/HealthStatus.java
testme/src/main/java/my/health/test/generated/models/package-info.java
client/.idea/compiler.xml
client/.idea/encodings.xml
client/.idea/jarRepositories.xml
client/.idea/misc.xml
client/.idea/vcs.xml
client/src/main/java/my/health/test/generated/FuncTestingThisIsMyNamespaceAPI.java
client/src/main/java/my/health/test/generated/FuncTestingThisIsMyNamespaceAPIBuilder.java
client/src/main/java/my/health/test/generated/package-info.java
client/src/main/java/my/health/test/generated/models/HealthStatus.java
client/src/main/java/my/health/test/generated/models/package-info.java
client/target/classes/my/health/test/generated/FuncTestingThisIsMyNamespaceAPI.class
client/target/classes/my/health/test/generated/FuncTestingThisIsMyNamespaceAPI$FuncTestingThisIsMyNamespaceAPIService.class
client/target/classes/my/health/test/generated/FuncTestingThisIsMyNamespaceAPIBuilder.class
client/target/classes/my/health/test/generated/models/HealthStatus.class
client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
client/target/surefire-reports/my.health.test.AppTest.txt
client/target/surefire-reports/TEST-my.health.test.AppTest.xml
client/target/test-classes/my/health/test/AppTest.class
client/target/test-classes/my/health/test/TestMyHealth.class
client/.idea/.gitignore
